body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hwb(191 17% 57%);
    color: hsl(0, 58%, 80%);
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: hsl(0, 69%, 79%);
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: hwb(212 46% 6%);
    color: hsl(0, 90%, 80%);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
